@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular{

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;

}

body{
    @extend .roboto-regular;
}

span{
    color: rgb(255, 131, 103);
}

.btn{
    background: linear-gradient(0.00deg, rgb(255, 128, 99) -28.333%,rgb(244, 96, 96) 95.833%);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    border: none;
    padding: 18px 55px;
}


.p-style{
    color: rgb(62, 62, 62);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

header {

    width: 90%;
    margin: 0 auto;

    nav{
        padding-top: 37px;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        
        li{
            list-style: none;
        }

        a{
            text-decoration: none;
            color: rgb(60, 60, 60);
            font-size: 16px;
            font-weight: 500;
            text-align: left;

            &:hover{
                text-decoration: underline;
            }
            
        }


    }

    .banner{

        margin-top: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;


        .banner-text{

            width: 30%;

            h1{
                width: 85%;
                @extend .bebas-neue-regular;
                font-size: 80px;
                font-weight: 500;
                text-align: left;
            }

            p{
                width: 75%;
                @extend .p-style;
                margin-top: 18px;
                margin-bottom: 36px;
            }

        }

        .banner-img{
            width:35%;
            position: relative;
        }

        .banner-img img{
            width: 100%;
        }

        .banner-img img:nth-child(2){
            position: absolute;
            left: -3px;
            bottom: 1%;
        }

    }
}


main{

    width: 100%;
    .about{

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;

        .about-img{

            width:40% ;

            img{
                width: 100%;
            }

        }

        .about-text{

            width: 40%;

            h2{
                @extend .bebas-neue-regular;
                color: rgb(54, 57, 88);
                font-size: 48px;
                font-weight: 700;
                text-align: left;
            }

            p{
                width: 75%;
                color: rgb(62, 62, 62);
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 25px 0px;
            }

            button{
                span{
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 500;
                    padding-left: 10px;   
                }
            }

            

        }

    }

    .project{

        // width: 90%;
        margin: 0 auto;
        background: rgb(229, 229, 229);
        padding: 70px 0px;
        margin-bottom: 90px;

        h2{
            @extend .bebas-neue-regular;
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 81px;
        
        }

        .project-card-container{

            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
            .project-card{

                width: 25%;
                border-radius: 19.74px;
                box-shadow: 0px 6.58px 19.74px 0px rgba(0, 0, 0, 0.07);
                background: rgb(255, 255, 255);
                text-align: center;
                padding: 20px 0px;

                .card-img{
                    width: 100%;

                    img{
                        width: 90%;
                    }
                }

                h4{
                    color: rgb(54, 57, 88);
                    font-size: 24px;
                    font-weight: 700;
                    text-align: left;
                    margin-top: 25px;
                    margin-bottom: 12px;
                    margin-left: 20px;
                }

                p{
                    color: rgb(108, 108, 108);
                    font-size: 16px;
                    font-weight: 400;
                    text-align: left;
                    margin-left: 20px;
                    width: 90%;
                    margin: 0 auto;

                }

            }

        }


    }

    .enquiry{
        
        width: 60%;
        margin: 0 auto;
        background-image: url('shapes/Group_33094_1.png');
        background-size: cover;
        height: 225px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h3{
            @extend .bebas-neue-regular;
            color: rgb(255, 255, 255);
            font-size: 64px;
            font-weight: 700;
            text-align: left;
        }

        button{
            padding: 18px 32px;
        }
    }


}

footer{

    margin-bottom: 80px;
    
    & p:nth-child(1){
        @extend .bebas-neue-regular;
        color: rgb(105, 104, 113);
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    & p:nth-child(2){
        color: rgb(54, 57, 88);
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 20px;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;

        img{
            width: 40px;
        }
       
    }

}



@media  screen and (max-width:574px) {
    header{

        nav{
            justify-content: center;
            width: 90%;
            margin: 0 auto;

            a{
                font-size: 14px;
            }
        }

        .banner{
            flex-direction: column-reverse;
            gap: 50px;

            .banner-text{
                width: 100% !important;
                text-align: center;
    
                h1{
                    font-size: 70px;
                    text-align: center;
                    width: 90%;
                    margin: 0 auto  ;

                }

                p{
                    text-align: center;
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }

            .banner-img{
                width: 85%;
            }
        }
    }


    main{

        .about{

            flex-direction: column;
            gap: 30px;

            .about-img{
                width: 80%;
            }

            .about-text{
                
                width: 90%;

                h2{
                    text-align: center;
                }
                p{

                    width: 90%;

                }
                button{
                    width: 100%;
                    text-align: center;

                

                }

            }

        }

        .project{

            .project-card-container{

                flex-direction: column;
                gap: 50px;
                .project-card{
                    width: 100%;
                }
            }
        }

        .enquiry{

            width: 90%;
            // justify-content: space-between;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            flex-direction: column;

            h3{
                font-size: 50px;
            }

        }

        }

    }
    








